.bg{
    background-image: url('qmm.jpg');
    background-size: cover;
}
.Cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    margin: 0px 40px 0px 40px;
}

.card1{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 320px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    padding: 32px;
    overflow: hidden;
    border-radius: 10px;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
    background-image: url('journalism.png');
    background-size: cover;
    background-color: #ffffff;
  }
  .card2 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 320px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    padding: 32px;
    overflow: hidden;
    border-radius: 10px;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
    background-image: url('poetry.png');
    background-size: cover;
    background-color: #ffffff;
  }
  .card3 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 320px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    padding: 32px;
    overflow: hidden;
    border-radius: 10px;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
    background-image: url('planet-earth.png');
    background-size: cover;
    background-color: #ffffff;
  }
  
  .content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    color: black;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  .content .heading {
    font-weight: 700;
    font-size: 32px;
  }
  
  .content .para {
    line-height: 1.5;
  }
  
  .content .btn {
    color: #000000;
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    border: none;
    cursor: pointer;
    background: linear-gradient(-45deg, #F6F1ED 0%,#D1B351 100%);
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }
  
  .card1::before, .card2::before, .card2::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5px;
    background: linear-gradient(-45deg, #0b0b0b 0%, #ffffff 100% );
    z-index: -1;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  .card1:hover::before,.card2:hover::before,.card3:hover::before {
    height: 100%;
  }
  
  .card1:hover,.card2:hover, .card3:hover {
    background-image: none;
    background-image: linear-gradient(-45deg, #F6F1ED 0%,#D1B351 100%);
    box-shadow: none;
    color: #212121;
  }

  .card1:hover .btn,.card2:hover .btn,.card3:hover .btn {
    color: #212121;
    background: #ffffff;
  }
  
  .content .btn:hover {
    outline: 2px solid #000000;
    background: transparent;
    color: #000000;
  }
  
  .content .btn:active {
    box-shadow: none;
  }
  